/nbproject
/vendor
/Resources/public/components
/Test/Framework/web/components
/Test/Framework/web/js
/Test/Framework/web/css
/Test/Framework/app/cache
/Test/Framework/app/cache_old
/Test/Framework/app/logs
/bin