{% extends 'SDLabSmartUtilsBundle::base.html.twig' %}

{% block body %}

<h2>Tests sdlab-smart-utils Bundle</h2>

<a href="{{ path('cascadeselect-base') }}" class="btn btn-default">Base</a>
<a href="{{ path('cascadeselect-multiple') }}" class="btn btn-default">Multiple</a>
<a href="{{ path('cascadeselect-entity') }}" class="btn btn-default">Entity</a>

{% endblock body %}